* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  html,
  body {
    height: 100%;
    width: 100%;
    background-color: rgb(250, 250, 250);
  }
  
.logo:hover{
    cursor: pointer;
}

  .header {
    background-color: #ffffff;
    box-shadow: 0px 0px 50px 1px #c0c0c0;
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    position: sticky;
    top: 0;
  }
  
   .nav-items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 20px;
  }

  .nav-items > div{
    padding: 10px 15px;
  }

  .nav-items > div:hover{
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 3px 0px 20px 0px #c0c0c0;
  }

  .icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    padding-left: 10px;
    vertical-align: top;
  }

  .icon-2{
    display: inline-block;
    width: 50px;
    height: 50px;
    padding-left: 10px;
    vertical-align: top;
  }

  .acc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .acc>div{
    padding: 10px 15px;
  }

 .acc>div:hover{
    border: 1px solid black;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 3px 0px 20px 0px #c0c0c0;
  }

  .res-container{
    display: flex;
    flex-wrap: wrap;
    margin: 30px 100px;
    padding: 10px;
    gap: 30px;
  }

  .res-card{
    width: 300px;
    border-radius: 20px;
    padding: 10px;
  }
  
  .res-card:hover{
    box-shadow: 3px 0px 20px 0px #c0c0c0;
    cursor: pointer;
    background-color: white;
  }

  .res-logo{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 20px;
  }

  .des{
    margin-left: 5px;
  }

  .add{
    color:#000000;
    font-weight: 100;
  }

  .resCard-icons{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: text-top;
  }

  .filter{
    
  }
  
  .filter-btn{
    
  }

  .close-btn{

  }

  .filter-btn:hover{
    box-shadow: 0px 0px 10px 0px #c0c0c0;
    cursor: pointer;
  }

  .line{
    
  }
  

  /* h3 {
    font-size: 15px;
    border: 1.5px solid #000000;
    padding: 5px 15px;
    border-radius: 50px;
    font-weight: 500;
  }
  
  i {
    border: 1.5px solid black;
    padding: 6px 6px;
    border-radius: 50px;
  }
  
  #nav2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  
  #nav2 i {
    color: white;
    background-color: #ff6d38;
    margin-right: 10px;
  }
  
  #nav2 h1 {
    font-weight: 550;
  }
  
  #button1 {
    font-size: 16px;
    border: 1.5px solid black;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: white;
  }
  
  #button2 {
    color: white;
    background-color: #ff6d38;
    font-size: 18px;
    border: 0px solid white;
    padding: 5px 15px;
    border-radius: 20px;
  }
  
  article {
    justify-content: center;
    align-items: center;
  }
  
  #heading {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 130px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  img {
    height: 400px;
    width: 300px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
  }
  
  #img1 {
    transform: translate(-50%, -50%) rotate(-30deg);
    
  }
  
  #img2 {
    transform: translate(-50%, -50%) rotate(-20deg);
  }
  
  #img3 {
    transform: translate(-50%, -50%) rotate(-10deg);
  }
  
  #img4 {
    transform: translate(-50%, -50%);
  }
  
  #bottom {
    font-weight: 100;
  
  }
  
  #btm-lft {
    position: absolute;
    bottom: 5%;
    left: 3%;
  }
  
  #btm-rgt {
    position: absolute;
    bottom: 5%;
    right: 3%;
  }
  
  #i1 {
    position: absolute;
    bottom: 10%;
    right: 4%;
  }
  
  #i2 {
    position: absolute;
    bottom: 10%;
    right: 7%;
  }
  
  #i3 {
    position: absolute;
    bottom: 10%;
    right: 10%;
  }
  
  #dwn-arr {
    position: absolute;
    bottom: 3%;
    right: 50%;
  }  */